.htmlEditor {
  $border-color: var(--chakra-colors-gray-200) !default;
  $border-color-active: var(--chakra-colors-blue-500) !default;

  font-size: 14px;
  white-space: initial;
  border-color: $border-color !important;
  border-radius: var(--chakra-radii-lg) !important;

  &:focus,
  &:focus-within,
  &[data-focus] {
    border-color: #3182ce !important;
    box-shadow: 0 0 0 1px #3182ce;
  }

  & > * {
    font-size: 14px;
  }

  button[class*="IconButton"],
  select + span[class*="Dropdown__value"] {
    border: 1px solid $border-color;
    border-radius: 2px;
    margin-right: 2px;
    background: #ffffff;

    & > span {
      opacity: 0.54;
    }

    &:hover,
    &[class*="IconButton__isActive"] {
      border-color: $border-color-active;

      & > span {
        opacity: 0.87;
      }
    }
  }

  select {
    padding-left: 8px;
  }

  button + [class*="InputPopover__root"] {
    width: max-content;
    background: #ffffff;
    border: 1px solid $border-color;

    &::before {
      border-bottom-color: $border-color;
    }

    & > [class*="InputPopover__inner"] {
      & > input {
        margin-right: 4px;
        border: 1px solid $border-color;
      }
    }
  }
}

.toolBar {
  border-color: var(--chakra-colors-gray-200) !important;
}
